body {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  transition: background-color 500ms ease;
}

.container {
  padding: 0 30px;
  background: $background;
  height: auto;
}

.title {
  margin: 20px 0;
}

.fields {
  @include display(flex);
  @include justify-content(space-around);
  width: 250px;
}

.field-group {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(space-between);
  height: 150px;
}

.field {
  position: relative;
  width: 90px;
  display: block;
  height: 40px;

  label {
    position: absolute;
    line-height: 40px;
    color: $secondary;
  }

  input {
    position: absolute;
    font-size: 1em;
    background: none;
    text-align: right;
    width: 100%;
    line-height: 40px;
    border: none;
    border-bottom: 1px solid $secondary;
    padding: 0;
    font-family: $fonts;
    color: $primary;

    &:focus {
      outline: none;
    }
  }

  &.focus {
    label {
      color: $primary;
    }

    input {
      border-bottom: 1px solid $primary;
    }
  }
}

.hex-code {
  background: $background-dark;
  padding: 10px;
  border-radius: 999px;
  text-align: center;
  margin-top: 30px;
  color: $secondary;
  font-family: $fonts-mono;
  position: relative;

  .flash-msg {
    position: absolute;
    font-family: $fonts;
    background: $primary;
    color: #000;
    font-size: 15px;
    padding: 4px 8px;
    border-radius: 3px;
    top: -25px;
    left: 50%;
    width: 160px;
    margin-left: -80px;
    display: none;

    &.show {
      display: block;
    }
  }
}

#hash,
#hex {
  cursor: pointer;

  &:hover {
    color: $primary;
  }

  &::selection {
    background: red;
    color: $primary;
  }
}

.twitter {
  text-align: center;
  display: block;
  margin: 15px 0;
}

.saved-colors {
  list-style: none;
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  left: 0;
  height: 100%;
  overflow: auto;

  li a {
    border: none;
    display: block;
    padding: 0;
    margin: 10px;
    /* border: 2px solid white; */
    box-shadow: 0 0 4px rgba(0,0,0,.25);
    width: 80px;
    height: 80px;
    background: lime;
    border-radius: 999px;

    &.save-color {
      background: $background;
      box-shadow: none;
      color: $secondary;
      text-align: center;
      font-size: 50px;
      text-decoration: none;
      line-height: 80px;
      font-weight: 200;

      &:hover {
        color: $primary;
      }
    }
  }
}
